

    <section class="home">
    </section>

    <section >
    <div style="height: 300px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">Bienvenu</h2>
			<p class="myP">inscrit toi et crée tes listes de piscines personnalisés, d'enregistrer leurs horaires et de tjr savoir si ta piscine preferée est ouverte. </p>
			<%# <p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
			and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p> %>
			<p class="myP">Deja plus de <%=@piscines.count%> piscines ajoutées! Trouve la tienne!</p>
      <!-- Bouton pour ouvrir la modale -->
        <button id="openModalButton">Ouvrir le chat</button>

      <!-- Structure de base pour la modale -->
          <div id="chatModal" class="modal" style="display:none;">
            <div class="modal-content">
                <div class="modal-header">
                  <span id="closeModalButton" class="close">&times;</span>
                  <h2>Chat</h2>
                </div>
                <!-- Corps de la modale : historique des messages -->
                <div class="modal-body">
                  <div class="messages">
                    <!-- Les messages seront ajoutés ici dynamiquement -->
                  </div>
                </div>
                <!-- Pied de page de la modale : zone de saisie des messages -->
                <div class="modal-footer">
                  <input type="text" id="messageInput" placeholder="Écrire un message...">
                  <button id="sendMessage">Envoyer</button>
                </div>
            </div>
          </div>
			<%# <p class="myP">Albi</p> %>
    </section>

    <%= form_with(url: filter_piscines_path, method: "get", data: { turbo_frame: "piscines_frame" }, remote: true) do |form| %>
      <%= form.search_field :ville, id: "villeFilter", class: "filter-input", placeholder: "Filtrer par ville" %>
      <%= form.submit "Filtrer" %>
    <% end %>


    <section >
      <div class="grille-cartes">
        <turbo-frame id="piscines_frame">
        <% @piscines.each do |piscine| %>
      
        <%= render partial: "list", locals: { piscine: piscine } %>
        <%end%>
       </turbo-frame>
      </div>
       <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </section>

    <%# <script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const openModalButton = document.getElementById('openModalButton');
    const modal = document.getElementById('chatModal');
    const closeModalButton = document.getElementById('closeModalButton');
  
    openModalButton.addEventListener('click', () => {
      console.log("Bouton d'ouverture de la modale cliqué1");
      modal.style.display = 'block';
    });
  
    closeModalButton.addEventListener('click', () => {
      modal.style.display = 'none';
    });
  
    window.addEventListener('click', (event) => {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    });
  });
</script> %>


