

    <section class="home">
    </section>

    <section >
    <div style="height: 500px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">What is this ?</h2>
			<p class="myP">This is a responsive fixed navbar animated on scroll</p>
			<p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
			and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p>
			<p class="myP">I HOPE YOU FIND THIS USEFULL</p>
			<p class="myP">Albi</p>
    </section>

    <section >
      <div class="grille-cartes">
        <% @piscines.each do |piscine| %>

        <div class="piscine-card">
          <div class="piscine-photo-bloc">
            <div class="piscine-photo"> 
              <%= image_tag('gettyimages-140872616-612x612.jpg')%>
            </div>
          </div>
          <div class="piscine-details">
            <h2 class="piscine-titre"><%= piscine.name %></h2>
            <p class="piscine-adresse"><%= piscine.adress %> <%= piscine.cp %> <%= piscine.ville %></p>
            <h3 class="piscine-sous-titre">Horaires:</h3>
            <ul class="piscine-horaires">
              <li>Lundi: <%=piscine.mondaystart%> - <%=piscine.mondayend%></li>
              <li>Mardi: <%=piscine.tuesdaystart%> - <%=piscine.tuesdayend%></li>
              <li>Mercredi: <%=piscine.wednesdaystart%> - <%=piscine.wednesdayend%></li>
              <li>Jeudi: <%=piscine.thursdaystart%> - <%=piscine.thursdayend%></li>
              <li>Vendredi: <%=piscine.fridaystart%> - <%=piscine.fridayend%></li>
              <li>Samedi: <%=piscine.saturdaystart%> - <%=piscine.saturdayend%></li>
              <li>Dimanche: <%=piscine.sundaystart%> - <%=piscine.sundayend%></li>
            </ul>
            <a href="piscines/<%=piscine.id%>" class="piscine-bouton">Voir plus</a>
          </div>
        </div>        
        <%end%>
      </div>
    </section>


