

    <section class="home">
    </section>

    <section >
    <div style="height: 300px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">Bienvenu</h2>
			<p class="myP">inscrit toi et crée tes listes de piscines personnalisés, d'enregistrer leurs horaires et de tjr savoir si ta piscine preferée est ouverte. </p>
			<%# <p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
			and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p> %>
			<p class="myP">Deja plus de <%=@piscines.count%> piscines ajoutées! Trouve la tienne!</p>
			<%# <p class="myP">Albi</p> %>
    </section>

    <%= form_with(url: filter_piscines_path, method: "get", data: { turbo_frame: "piscines_frame" }, remote: true) do |form| %>
      <%= form.search_field :ville, id: "villeFilter", class: "filter-input", placeholder: "Filtrer par ville" %>
      <%= form.submit "Filtrer" %>
    <% end %>


    <section >
      <div class="grille-cartes">
        <turbo-frame id="piscines_frame">
        <% @piscines.each do |piscine| %>
      
        <%= render partial: "list", locals: { piscine: piscine } %>
        <%end%>
       </turbo-frame>
      </div>
       <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </section>


