<div class="top-space">
</div>
	<p class="myP">Mes piscines</p>

    <section >
      <div class="grille-cartes">
        <% @piscines.each do |piscine| %>
        <% horaires = piscine.format_heure_minutes %>

        <div class="piscine-card">
          <div class="piscine-photo-bloc">
            <div class="piscine-photo"> 
              <%= image_tag('gettyimages-140872616-612x612.jpg')%>
            </div>
          </div>
          <div class="piscine-details">
            <h2 class="piscine-titre"><%= piscine.name %></h2>
            <p class="piscine-adresse"><%= piscine.adress %> <%= piscine.cp %> <%= piscine.ville %></p>
            <h3 class="piscine-sous-titre">Horaires:</h3>
            <ul class="piscine-horaires">
              <li>Lundi: <%=horaires[0]%> - <%=horaires[1]%></li>
              <li>Mardi: <%=horaires[2]%> - <%=horaires[3]%></li>
              <li>Mercredi: <%=horaires[4]%> - <%=horaires[5]%></li>
              <li>Jeudi: <%=horaires[6]%> - <%=horaires[7]%></li>
              <li>Vendredi: <%=horaires[8]%> - <%=horaires[9]%></li>
              <li>Samedi: <%=horaires[10]%> - <%=horaires[11]%></li>
              <li>Dimanche: <%=horaires[12]%> - <%=horaires[13]%></li>
            </ul>
            <a href="./<%=piscine.id%>" class="piscine-bouton">Detail</a>
            <%= button_to "delete", {:controller => :piscines,
      :action => 'destroy', :id => piscine.id }, :method => :delete %>
            <%= button_to "update", {:controller => :piscines,
      :action => 'edit', :id => piscine.id }, :method => :get %>
          </div>
        </div>        
        <%end%>
       
      </div>
       <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </section>