

    <section class="home">
    </section>

    <section >
    <div style="height: 500px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">What is this ?</h2>
			<p class="myP">This is a responsive fixed navbar animated on scroll</p>
			<p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
			and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p>
			<p class="myP">I HOPE YOU FIND THIS USEFULL</p>
			<p class="myP">Albi</p>
    </section>

    <section >
      <div class="grille-cartes">
        <% @piscines.each do |piscine| %>
        <% horaires = piscine.format_heure_minutes %>

        <div class="piscine-card">
          <div class="piscine-photo-bloc">
            <div class="piscine-photo"> 
              <%= image_tag('gettyimages-140872616-612x612.jpg')%>
            </div>
          </div>
          <div class="piscine-details">
            <h2 class="piscine-titre"><%= piscine.name %></h2>
            <%if piscine.tuesdaystart.nil? %>
            <%=piscine.thursdayend%></li>
            <% else%>
               <%=horaires%></li>

            <%end%>
            <p class="piscine-adresse"><%= piscine.adress %> <%= piscine.cp %> <%= piscine.ville %></p>
            <h3 class="piscine-sous-titre">Horaires:</h3>
            <ul class="piscine-horaires">
              <li>Lundi: <%=horaires[0]%> - <%=horaires[1]%></li>
              <li>Mardi: <%=horaires[2]%> - <%=horaires[3]%></li>
              <li>Mercredi: <%=horaires[4]%> - <%=horaires[5]%></li>
              <li>Jeudi: <%=horaires[6]%> - <%=horaires[7]%></li>
              <li>Vendredi: <%=horaires[8]%> - <%=horaires[9]%></li>
              <li>Samedi: <%=horaires[10]%> - <%=horaires[11]%></li>
              <li>Dimanche: <%=horaires[12]%> - <%=horaires[13]%></li>
            </ul>
            <a href="piscines/<%=piscine.id%>" class="piscine-bouton">Detailg</a>
          </div>
        </div>        
        <%end%>
      </div>
    </section>


