<div class="top-space">
</div>

<div class="piscine-form">
  <h2>Ajouter une piscine </h2>
<%= form_with(model: @piscine, url: piscines_path, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "piscine-field" %>
  </div>
  
  <div>
    <%= form.label :adress %>
    <%= form.text_field :adress, class: "piscine-field" %>
  </div>
  <div>
    <%= form.label :cp %>
    <%= form.text_field :cp, class: "piscine-field" %>
  </div>
  <div>
    <%= form.label :ville %>
    <%= form.text_field :ville, class: "piscine-field" %>
  </div>
  <div>
    <%= form.label :pays %>
    <%= form.text_field :pays, class: "piscine-field" %>
  </div>
  <div>
    <%= form.label :mail %>
    <%= form.text_field :mail, class: "piscine-field" %>
  </div>
  <div>
    <%= form.label :tel %>
    <%= form.text_field :tel, class: "piscine-field" %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>

  <div>
    <p>Lundi:
    <%= form.label "Ouverture" %>
    <%= form.time_field :mondaystart, class: "piscine-time-field" %>
  
    <%= form.label "fermeture" %>
    <%= form.time_field :mondayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Mardi: 
    <%= form.label "Ouverture" %>
    <%= form.time_field :tuesdaystart, class: "piscine-time-field" %>
  
    <%= form.label "Fermeture"%>
    <%= form.time_field :tuesdayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Mercredi:
    <%= form.label "Ouverture" %>
    <%= form.time_field :wednesdaystart, class: "piscine-time-field" %>
 
    <%= form.label "Fermeture" %>
    <%= form.time_field :wednesdayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Jeudi:
    <%= form.label "Ouverture" %>
    <%= form.time_field :thursdaystart, class: "piscine-time-field" %>
  
    <%= form.label "Fermeture" %>
    <%= form.time_field :thursdayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Vendredi:
    <%= form.label "Ouverture" %>
    <%= form.time_field :fridaystart, class: "piscine-time-field" %>
  
    <%= form.label "Fermeture" %>
    <%= form.time_field :fridayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Samedi:
    <%= form.label "Ouverture" %>
    <%= form.time_field :saturdaystart, class: "piscine-time-field" %>
  
    <%= form.label "Fermeture" %>
    <%= form.time_field :saturdayend, class: "piscine-time-field" %>
    </p>
  </div>
  <div>
    <p>Dimanche:
    <%= form.label "Ouverture" %>
    <%= form.time_field :sundaystart, class: "piscine-time-field" %>
 
    <%= form.label "fermeture" %>
    <%= form.time_field :sundayend, class: "piscine-time-field" %>
    </p>
  </div>

  <%= form.submit "Créer", class: "log-btn" %>
<% end %>
</div>
